.profile {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.personal-info {
    text-align: left;
    margin: 10px;
}

.profile .avatar {
    width: 150px;
    height: 150px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .profile {
        display: grid;
        grid-template-columns: 25% 1fr 1fr 25%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header header header header"
            "avatar . info info "
            ". button button ."    
        ;
        margin: 0;
        
    }

    .profile h1 {
        grid-area: header;
        margin-top: 0;
    }

    .profile .avatar {
        grid-area: avatar;
    }
    .profile .personal-info {
        grid-area: info;
        font-size: 1.8vh;
    }
    .edit-profile {
        grid-area: button
    }
}