.star-rating {
    box-sizing: border-box;
    
    border: 1px solid #A3A4A6;
    border-radius: 5%;
    width: 250px;
    padding: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.star-rating-buttons {
    display: flex;
    justify-content: center;
    margin: px;
}

button span {
    font-size: 200%;
    color: #A3A4A6;
}

.star:hover {
    color: #F6E561;
}

.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.rate-text {
    color: black;
}

.rate-number {
    color: black;
    margin: 5px;
    font-size: 150%;
    border-radius: 50%;
    text-align: center;

}

.rate-text {
    max-width: 200px;
}

#send-rate  {
    border: 1px solid #A3A4A6;
    border-radius: 5%;
    background-color: #A3A4A6;
    color: white;
    font-weight: bold;
}

.star-on {
    color: #F6E561;
    
}
  
.star-off {
    color:#A3A4A6;
}