.field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 5px;
}

.field > * {
    margin: 2px;
}

.signup > h1 {
    margin: 5px;
}

.rOption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

#rOrganizer, #rUser {
    margin: 4px;
}
.button {
    margin: 10px;
}