.home{
    font-size: 12px;
height: 100%;
min-width: 355px;
}

.landing-img {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

}

.landing-img p {

    color: white;
    padding: calc(1em + .6vw);;
    font-size: calc(1em + .6vw);
    background-color: rgba(0, 0, 0,0.8);
    border-radius: 10px;
    width: 50vw;
}



.landing-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.landing-buttons button {
    background-color: #F6E561;
    border: none;
    border-radius: 10px;
    width: min-content;
    margin: 10px;
    padding: 10px;
    font-size: calc(1em + .6vw);
    transition: bac;
    font-weight: bold;

}

.landing-buttons button:hover {
    background-color: #dbc309;
    transition: background-color 0.5s ease;
}