.home{
    font-size: 12px;
}

.header {
    border-bottom: 1px solid black;
    /* height: 75px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;

}

.header > button{
    height: 22px;

    font-size: 12px;
}