header {
    box-sizing: border-box;
    display: flex;
    background-color: #A3A4A6;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 50px;
    margin: 0 auto 30px;
    padding:10px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 120%;
    color: white;
}


header a {
    color: black;
    text-decoration: none;
}

.logo {
    height: 35px;
    width: 35px;
    background-image: url("../../Media/Images/General/logo.jpg");
    background-size: contain;
    border-radius: 50%;
}

.loginSection {
    max-width: 70px;
}

.loginButton {
    width: 75px;
    height: 25px;
    background-color: #F6E561;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.loginButton span {
    color:black;
    font-size: 90%;
}