.hackathonBody{
    display: flex;
    justify-content: space-between;
    font-size: calc(1em);
    flex-grow: 1;
}

.hackathonBody span{
    color: black;
}


.hackathonInfo{
    padding: 20px;
    flex-grow: 1;
    border-bottom: 1px solid black;
}

.hackathonInfo > h4{
    text-align: center;
}

.hackathonAside{
    text-align: left;
    padding: 15px;
    /* min-width: 280px; */
    min-width: 25%;
    font-size: calc(1em - 0.2vw);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f8f7f7;
    /* border-left: 2px solid #eed1ab; */
    /* flex-shrink: 1; */
}

.noCommentP{
    font-size: calc(.8em);

}

.description-p{
    text-align: left;
    flex-grow: 1;
    font-size: calc(1em - 0.2vw);
    margin-bottom: 40px;

}

.enrollDiv{
    background-color: #426951;
    padding:4px;
    border-radius: 5px;
    color: whitesmoke;
}

.organizerAsideData{
background-color: rgb(238, 238, 238);
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
}

.organizerAsideData > p,  .organizerAsideData > image {
    display: inline;
}

.organizerAsideData > p{
    text-transform: uppercase;
    font-weight: 600;
}

.organizerAsideData > img{
    vertical-align: middle;
}


.linksHack{
    background-color: rgb(136, 20, 20);
}



@media screen and (max-width: 890px) {

    .hackathonAside{
        min-width: 30%;

    }
    
}