.hackathonBody{
    display: flex;
    font-size: calc(1em + .1vw);


}

.hackathonBody span{
    color: black;
}


.hackathonInfo{
    flex-grow: 2;
    padding: 20px;
}

.hackathonAside{
    flex-shrink: 1;
    min-width: 300px;
    text-align: left;
    padding: 20px;

}