#root, html, body{
    font-size: 12px;
    
}

#logoTitle img {
height: 80px;
width: 160px;
}

.lgHack{
    height: 20px;
    width: 20px;
}

.headerHack{
display: flex;
/* padding: 0px; */

}

.headerHack span {
    color: black;
}

.hTitle{
    /* background-color: whitesmoke; */
    flex-grow: 1;
    /* margin: 0px; */

}

#logoCompany{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.hDataHack {
    background-color: rgb(201, 153, 98);
    /* margin: 0px; */


}


.hDataHack button{
    font-size: 12px;


}

