.lgHack{
    height: 30px;
    width: 30px;
}

.headerHack{
display: flex;
justify-content: space-between;
}

.headerHack span {
    color: black;
}

.hTitle{
flex-grow: 1;
display: flex;
flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#logoTitle > img{
width: 500px;
height: 400px;
justify-content: space-between;
margin: 0px;
}

#textTitle{
    margin: 0px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#textTitle > h4{
    flex-grow: 1;
}


#logoCompany{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
    align-self: center;
}

.hDataHack {
    background-color: #fff7c8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}


.hDataHack > button{
    font-size: calc(1em + .3vw);
    background-color: burlywood;
    border:1px solid black;
    border-radius: 10px;
    align-self: center;
    margin: 20px;
}