@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 &display=swap');:root {
    --colorY: #ffb580;
}


.createHackathonPage {
    background-image: url('../../Media/Images/Others/book1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#2C3E50);
    padding: 50px;
    font-family: 'Roboto', sans-serif;

}

.createHackathon {
    font-size: 12px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 50px auto;
    max-width: 400px;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(156, 156, 156, 0.7);
    backdrop-filter: blur(5px);
}

.formCreate {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formCreate input {
    border-radius: 8px;
}

.formCreate label,
.formCreate legend {
    font-weight: 500;
}


.fieldCommon {
    border-color: #dfda94;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 10px;
}
.hvr-shutter-out-horizontal:before {
    border-radius: 10px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #526269;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
    color: white;
}
.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.formCreate > h2 {
    text-align: center;
}

.formCreate .inputSelectSame {
    background-color: whitesmoke;
}


#logoInputCreate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #dfda94;
    border-radius: 10px;
    text-align: center;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    text-align: center;
    background-color: #eee4;
}

.inputFileLogo {
    flex-shrink: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.inputFileLogo > label {
    cursor: pointer;
    background-color: rgba(140, 167, 197, 0.5);
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    position: relative;
}

.inputFileLogo > input {
    font-size: 12px;
    vertical-align: middle;
    margin: 10px;
    display: none;
}


.inputFileLogo > p:nth-child(2) {
    text-align: left;
    margin: 5px;
}


.logoPreview {
    width: 120px;
    height: 100px;
    border: 1px solid #636363;
    border-radius: 5px;
}

.logoPreview > img {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    text-align: center;
}

.fieldName {
    display: flex;
    flex-direction: column;
    position: relative;
}

#toolTipName{
    position: absolute;
top: -3px;
}

#toolTipCity{
    position: absolute;
top:  43px;
}



.fieldName > label {
    display: inline-block;
    width: 100px;
    margin: 2px;
}

.fieldDate {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "lblStartDate lblEndDate" "inputStartDate inputEndDate";
    gap: 5px;
    position: relative;
}


#toolTipStartDate{
    position: absolute;
    top:  -3px;
    left: 75px;
}

#toolTipEndDate{
    position: absolute;
    top:  -3px;
    right: 5px;
}

.fieldTech{
    position: relative;
}

#toolTipTechs{
    position: absolute;
    top:  -24px;
    left: 100px;
}


#inputStartDate {
    grid-area: inputStartDate;
    margin: 0 5px 0 0;
    text-align: center;
}
#inputEndDate {
    grid-area: inputEndDate;
    margin: 0 0 0 5px;
    text-align: center;
}

#lblStartDate {
    grid-area: lblStartDate;
}

#lblEndDate {
    grid-area: lblEndDate;
    margin: 0 0 0 5px;

}


#fieldLinks {
    display: flex;
    position: relative;
}

#toolTipLinks{
    position: absolute;
    bottom:  55px;
    left: 20px;
}

#btnLinkUrl {
    cursor: pointer;
    width: 60px;
    background-color: rgba(140, 167, 197, 0.5);
    border: 1px solid slategray;
    border-radius: 11px;
    margin: 10px 0 0;
    padding: 4px;
    align-self: center;
    text-align: center;
    font-weight: bold;
}

.divLinkUrl {
    display: flex;
    flex-direction: column;
}

.divLinkUrl > label {
    display: inline-block;
    width: 80px;
    margin: 2px;
}

.links > span {
    color: #636363;
    background-color: #d48181;
}


#listLinks ul {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    background-color: #f0ebe5;
}

.noLinks {
    margin: 2px;
}

#listLinks > span {
    color: darkblue;
    margin: 0 2px;
}


#listLinks li {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    margin: 2px 0;
}

#btnDeleteLink {
    cursor: pointer;
}

#btnDeleteLink > p {
    margin: 0;
}


#fieldDescription {
    display: flex;
    flex-direction: column;
    position: relative;
}

#toolTipThematic{
    position: absolute;
     top:  -5px;
    /* left: 20px; */
}

#toolTipHackathonInfo{
    position: absolute;
    top:  60px;
}

#fieldDescription > * {
    margin: 2px;
}


textarea[name=hackathon_info] {
    resize: none;
    height: 200px;
    min-height: 100px;

}

#btnSubmitCreate {
    margin: 20px 10px 0 0;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    align-self: center;
    background-color: rgba(184, 201, 221, 0.5);
    border: 1px solid slategray;
    border-radius: 11px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.tip {
    border-radius: 5px;
    background-color: var(--colorY);
    padding: 4px;
    width: max-content;
    height: 15px;
    font-size: 11px;
    z-index: 1;
    align-self: center;
    position: relative;    

}

.down.tip:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin: 19px 0 0 45px;
    /* bottom: 0px; */
    border-top: 10px solid var(--colorY);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.up.tip:before {
    content: "";
    width: 0;
    height: 0;
    top: -10px;
    position: absolute;
    margin: 0px 0 0 45px;
    /* bottom: 0px; */
    border-bottom: 10px solid var(--colorY);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
