.links > div > span {
    font-weight: bold;
}

.links a {
    text-decoration: none;
    color: darkblue;
    font-weight: 500;
    font-size: calc(.8em);
    
}

.listLinks a:hover {
 background-color: rgb(255, 241, 221);  
 padding: 4px 6px ;
 border-radius: 5px; 
}


#sm{
    height: 25px;
    width: 25px;
    margin-right:5px;
}

.socialMedia{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}

#sm:hover{
    transform: scale(1.2);
}