.singInUp {
  /* border: 1px solid black; */
  border-radius: 15;
  padding: 5px;
  font-size: 12px;
  margin: 0px auto 0px auto;
  padding-top: 65px;
  box-sizing: border-box;
  max-width: 1024px;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

.tabs {
  list-style: none;
  margin: 2px;
  padding: 4px;
  display: inline;
}

.tabs:hover {
  cursor: pointer;
}

li a {
  /* color: #a3a4a6; */
  color: black;
  font-size: 16px;
}

li.active {
  border-bottom: 2px solid #a3a4a6;
}

li.active a {
  color: black;
  font-weight: bold;
}

li.tabs a {
  text-decoration: none;
}

.tabContainer {
  box-sizing: border-box;
  width: 350px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-55%);
  border: 1px solid #a3a4a6;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  background-color: #f3ecb7;
}

.singInUp::before {
  content: " ";
  position: absolute;
  height: 100%;
  margin: 0px auto 0px auto ;
  background-image: url("../../Media/Images/Others/book2.jpg");
  background-size: cover;
  background-position: top;
  z-index: -2;
  border-radius: 12px;
  width: 100%;
  left: 0;
  top: 0;

}

.tabContainer::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.603);
  z-index: -1;
  border-radius: 12px;
}
