.singInUp {
    border: 1px solid black;
    border-radius: 15;
    padding: 5px;
    font-size: 12px;
/* height: 100%; */
margin: 0;


}

.singInUp > ul {
    text-align: left;
    margin-bottom: 0;
}

.tabs {
    list-style: none;
    background-color: #e8e8e8;
    border: 1px solid black;
    margin: 2px;
    padding: 4px;
    display: inline;
}

li.active {
    background-color: #ffe499;
}

li.tabs a {
    text-decoration: none;
}

.tabContainer {
    margin-top: 0;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
}
