
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hackathon {
    box-sizing: border-box;
    width: 200px;
    border: solid 1px black;
    border-radius: 10%;
    padding: 10px;
    margin: 15px;
}

.hackathon h1 {
    font-size: 120%;
    padding: 0%;
    margin-bottom: 5px;
}

.hackathon-results {
    display: flex;
    justify-content: center;
}

.hackathon-stats {

    display: flex;
    justify-content: center;
    align-items: center;

}

.ranking{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F6E561;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: bold;

}

.rate {

    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rate .rate-box {

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #A3A4A6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;

}
.rate button {

    height: 30px;
    cursor: pointer;
    background-color: #A3A4A6;
    border: solid 0.5px #F6E561;
    border-radius: 10%;
    color: white;
    font-weight: bold;

}

.avg-rate {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;

}

.participants {

    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.modify-hack {

    height: 30px;
    cursor: pointer;
    background-color: #A3A4A6;
    border: solid 0.5px #F6E561;
    border-radius: 10%;
    color: white;
    font-weight: bold;

}

.rate-modal {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.timeTo {

    height: 30px;
    width: 150px;
    border: 2px solid #A3A4A6;
    border-radius: 5%;
    background-color: #F6E561;
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#previous {

    max-width: 50px;
    max-height: 50px;
    transform: rotate(90deg);
}

#next {
    max-width: 50px;
    max-height: 50px;
    transform: rotate(-90deg);
}

.off {
    
    opacity: 0.5 ;

}

.on {
    
    cursor: pointer;

}

.delete-hackathon-warning {
    background-color: #A3A4A6;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}