
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hackathon {
    width: 200px;
    border: solid 1px black;
    margin: 15px;
}

#previous {

    max-width: 50px;
    max-height: 50px;
    transform: rotate(90deg);
}

#next {
    max-width: 50px;
    max-height: 50px;
    transform: rotate(-90deg);
}

.off {
    
    opacity: 0.5 ;

}

.on {
    
    cursor: pointer;

}