
.forgot-password-form {

    border: 2px solid #A3A4A6;
    border-radius: 10px;
    background-color: #F6E561;
    width: 90%;
    margin: 0 auto ;

}


.forgot-password-form button {

    background-color: #A3A4A6;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.forgot-password-form button:hover {

    cursor: pointer;
    background-color: #7a7a7a;
    transition: background-color 1s ease;

}
