.profile-page-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.cancel-hack {
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: rgb(145, 3, 3);
    color: white;
    font-weight: bold ;
}

@media screen and (min-width: 768px) {
    .profile-page-container{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto ;
        grid-template-areas:
            "profile userStats userStats"
            "profile organizerStats organizerStats"
            "hackathonsJoined hackathonsJoined hackathonsJoined"
            "hackathonsCreated hackathonsCreated hackathonsCreated"
        ;
        
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        grid-area: profile;
        border: none;
       
    }

    .user-stats {
        grid-area: userStats;
        background-color: #a3a4a6c7;
        border: none;
       
    }


    .organizer-stats-section{
        grid-area: organizerStats;
        background-color: #a3a4a6c7;
        border: none;    
    }

    .hackathonsJoined {
        grid-area: hackathonsJoined;
        justify-self: center;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        position: relative;
        background-color: #fff4a377;
        
    }

    .hackathonsCreated {
        grid-area: hackathonsCreated;
        justify-self: center;
        width: 100%;
        border: none;
        padding-bottom: 15px;
    }

    .stats-section {
        justify-content: space-evenly;
    }

    .stats {
        height: 150px;
        width: 150px;
    }
    .stat{
        height: 75px;
        width: 75px;
        background-color: none;
        font-size: 25px;
    }

    .stats :last-child {
        font-size: 19px;
    }
}