.profile-page-container {
    padding-top: 40px;
    padding-bottom: 60px;
    white-space: nowrap;
}

.cancel-hack {
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: rgb(145, 3, 3);
    color: white;
    font-weight: bold ;
}

@media screen and (min-width: 768px) {
    .profile-page-container{
        width: 100vw;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto ;
        grid-template-areas:
            "profile userStats userStats"
            "profile organizerStats organizerStats"
            "hackathonsJoined hackathonsJoined hackathonsJoined"
            "hackathonsCreated hackathonsCreated hackathonsCreated"
            "logout logout logout"
        ;
        margin: 0;
        height: 100%;
        padding-top: 55px;
        /* background: linear-gradient(60deg,#F6E561,white,white,white, #F6E561); */
    }

    .profile {
        grid-area: profile;
        border: none;
       
    }

    .user-stats {
        grid-area: userStats;
        background-color: #a3a4a6c7;
        border: none;
 
    }
    .organizer-stats-section{
        grid-area: organizerStats;
        background-color: #a3a4a6c7;
        border: none;
    
    }

    .hackathonsJoined {
        grid-area: hackathonsJoined;
        justify-self: center;
        background-color: #f6e56183;
        width: 100%;
        border: none;
        
    }

    .hackathonsCreated {
        grid-area: hackathonsCreated;
        justify-self: center;
        width: 100%;
        border: none;
        padding-bottom: 15px;
    }

    .stats-section {
        justify-content: space-evenly;
    }

    .stats {
        height: 150px;
        width: 150px;
    }
    .stat{
        height: 75px;
        width: 75px;
        background-color: none;
        font-size: 25px;
    }

    .stats :last-child {
        font-size: 19px;
    }
}